<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Debug"
      internalLogFile="/temp/internal-nlog.txt">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>
	<variable name="logDirectory" value="C:\Logs\Accountant\"/>
	<targets>
		<target xsi:type="File" name="logfile"
				fileName="${logDirectory}/${shortdate}.log"
				layout="${longdate}|${uppercase:${level}}|${message} ${exception:format=tostring}"
				archiveFileName="${logDirectory}/archive/arch.{#}.zip"
				archiveNumbering="Date"
				archiveDateFormat="yyyy-MM-dd"
				maxArchiveFiles ="90"
				archiveEvery="Day"
				enableArchiveFileCompression="true"/>
		<target xsi:type="File" name="exceptions"
				fileName="${logDirectory}/exceptions/${shortdate}.log"
				layout="${longdate}|${uppercase:${level}}|${message} ${exception:format=tostring}"
				archiveFileName="${logDirectory}/archive/exceptions/arch.{#}.zip"
				archiveNumbering="Date"
				archiveDateFormat="yyyy-MM-dd"
				maxArchiveFiles ="90"
				archiveEvery="Day"
				enableArchiveFileCompression="true"/>
		<target xsi:type="Console" name="lifetimeConsole"
	             layout="${level:truncate=4:tolower=true}\: ${logger}[0]${newline}      ${message}${exception:format=tostring}"/>
	</targets>

	<rules>
		<!--Skip non-critical Microsoft logs and so log only own logs (BlackHole) -->
		<logger name="Microsoft.*" minlevel="Trace" writeTo = "blackhole" final="true" />
		<logger name="System.Net.Http.*" maxlevel="Info" final="true" />

		<logger name="*" minlevel="Trace" writeTo="lifetimeConsole" />
		<logger name="*" minlevel="Trace" writeTo="logfile" />
		<logger name="*" minlevel="Error" writeTo="exceptions" />
	</rules>
</nlog>